.music-component{
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    color: #000000;
    padding-block: 48px;
    padding-inline: 48px;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.music-component .music-component-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}
.music-component .music-component-header .music-component-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.music-component .music-component-header .music-component-header-left h2{
    font-family: "Anton";
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.025em; 
    white-space: nowrap;
}
.music-component .music-component-header .music-component-header-left h2 span{
    color: transparent;
    -webkit-text-stroke:1.5px #000000;
    letter-spacing: 0.025em;
    opacity: 0.9;
}
.music-component .music-component-mid{
    display: grid;
    grid-template-columns:repeat(2, minmax(0,1fr));
    gap: 64px;
    align-items: center;
}

.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 32px;
    width: 100%;
    z-index: 1;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-top{
    display: inline-block;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-top .latest{
    background-color: #daea49;
    display: inline-block;
    color: #000000;
    font-family: "space-mono-bold";
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    padding-inline: 6px;
    padding-block: 3px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-bottom: 8px;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-top .title{
    font-family: "Anton";
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-top .artist{
    font-family: "Inter",sans-serif;
    font-size: 14px;
    line-height: 1.25rem;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-bottom{
    background-color: #FFFFFF;
    color: #000000;
    text-transform: uppercase;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    width: fit-content;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-bottom:hover{
    background-color: #daea49;
    color: #000000;
    transition: 0.3s ease;
    transform: translateZ(10px);
    cursor: pointer;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-bottom h4{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding:12px 24px;
    align-items: center;
    letter-spacing: -0.025em;
    line-height: 1;
}

.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-img img:hover{
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.music-component .music-component-mid .music-component-mid-right{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-header{
    font-family: "space-mono-regular";
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-bottom: 12px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    flex: 1 1 0%;
    padding-block: 8px;
    padding-inline: 16px;
    margin-inline:-16px ;
    border-bottom-width: 1px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-left{
    width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-left:hover{
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-left .play-icon{
    color: #4B5563;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-left .play-icon:hover{
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-right{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-right h3{
    font-family: "Inter-bold",sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;

}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-right h5{
    font-family: "Inter",sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px;
    margin-top: 20px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links .music-component-mid-right-links-left{
    font-family: "space-mono-bold";
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    white-space: nowrap;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links .music-component-mid-right-links-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    perspective: 500px;
    overflow: hidden;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links .music-component-mid-right-links-right .music-component-mid-right-links-right-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-width:1px;
    perspective: 100px;
    color: #E5E7EB;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links .music-component-mid-right-links-right .music-component-mid-right-links-right-icon:hover{
    transition: 0.3s ease-in-out;
    transform: translateZ(10px);
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links .music-component-mid-right-links-right .music-component-mid-right-links-right-icon .music-icon:hover{
    transform: translateZ(50px);
    transition: 0.3s ease-in-out;
}

@media (max-width:768px) {
.music-component{
    padding-inline: 24px;
    padding-block: 40px;
}
.music-component .music-component-header .music-component-header-left{
    gap: 16px;
}
.music-component .music-component-header .music-component-header-left h2{
    font-size:36px; 
    line-height: 40px;
}
.music-component .music-component-mid{
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: 40px;
    align-items: center;
}
.music-component .music-component-mid .music-component-mid-left{
    margin-inline:auto;   
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release{
    padding: 24px;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-top .latest{
    font-size: 10px;
    text-align: center;

}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-top .title{
    font-size: 48px;
}
.music-component .music-component-mid .music-component-mid-left .music-component-mid-left-release .music-component-mid-left-release-bottom h4{
    font-size: 12px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-header{
    font-size: 10px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track{
    gap: 16px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-right h3{
    font-size: 14px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-tracks .music-component-mid-right-tracks-track .music-component-mid-right-tracks-track-track-right h5{
    font-size: 10px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links{
    padding: 8px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links .music-component-mid-right-links-left{
    font-size: 10px;
}
.music-component .music-component-mid .music-component-mid-right .music-component-mid-right-links .music-component-mid-right-links-right{
    gap: 8px;
}
}

@media (max-width:640px) {
.music-component .music-component-header .music-component-header-left h2{
    font-size:30px; 
    line-height: 36px;
}
.music-component .music-component-header .music-component-header-right{
    display: none;
}
}