.footer{
    width: 100%;
    background: #0a0a0a;
    color: #FFFFFF;
    position: relative;
    padding-top: 4rem;  
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top-width: 1px;
    border-color: #FFFFFF;
}
.footer .footer-top h1{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-weight: 900;
    line-height:1;
    white-space: no-wrap;
    user-select: none;
}
.footer .footer-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
}
.footer .footer-center .footer-center-instagram{
    perspective: 500px;
}
.footer .footer-center .footer-center-instagram .instagram-icon:hover{
    cursor: pointer;
    transform: translateZ(100px);
    transition: 0.3s ease-in-out;
    color: #daea49;
}
.footer .footer-center .footer-center-tiktok{
    perspective: 500px;
}
.footer .footer-center .tiktok-icon:hover{
    cursor: pointer;
    transform: translateZ(50px);
    transition: 0.3s ease-in-out;
    color: #daea49;
}
.footer .footer-center .footer-center-facebook{
    perspective: 500px;
}
.footer .footer-center .facebook-icon:hover{
    cursor: pointer;
    transform: translateZ(50px);
    transition: 0.3s ease-in-out;
    color: #daea49;
}
.footer .footer-center .footer-center-youtube{
    perspective: 500px;
}
.footer .footer-center .youtube-icon:hover{
    cursor: pointer;
    transform: translateZ(50px);
    transition: 0.3s ease-in-out;
    color: #daea49;
}
.footer .footer-center .footer-center-spotify{
    perspective: 500px;
}
.footer .footer-center .spotify-icon:hover{
    cursor: pointer;
    transform: translateZ(50px);
    transition: 0.3s ease-in-out;
    color: #daea49;
}
.footer .footer-separator{
    height: 1px;
    width: 60%;
    background-color: #6B7280;
}
.footer .footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: rgba(156,163,175,1);
}
.footer .footer-bottom h5{
    font-family: "space-mono-bold";
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
}
.footer .footer-bottom h6{
    font-family: "Inter",sans-serif ;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
}
.footer .footer-bottom h6 span{
    text-decoration: underline;
}
.footer .footer-bottom h6 span:hover{
    cursor: pointer;
    color: #daea49;
    transition: 0.3s ease;
}

@media (min-width:1024px) {
.footer .footer-separator{
    height: 1px;
    width: 30%;
    background-color: #6B7280;
}  
}