.merchandise{
    background-color: #FFFFFF;
    color: #000000;
    min-height: 100vh;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-inline: 48px;
    margin-top: 24px;
    overflow: hidden;
}
.merchandise .merchandise-links{
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-family: "Inter-bold",sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}
.merchandise .merchandise-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 16px;
}
.merchandise .merchandise-header .merchandise-header-left h1{
    font-family: "Anton";
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-wrap: nowrap;
}
.merchandise .merchandise-header .merchandise-header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    display: none;
}
.merchandise .merchandise-header .merchandise-header-right{
    font-family: "Space-mono-regular";
    text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
}
.merchandise .merchandise-header button{
    padding: 8px 12px;
}
.merchandise .merchandise-header button:hover{
    cursor: pointer;
}
.merchandise .merchandise-header .merchandise-header-right select{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
    padding: 3px;
    cursor: pointer;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 16px;
}
.merchandise .merchandise-body{
    display: flex;
    flex-direction:row;
    gap: 48px;
}
.merchandise .merchandise-body .merchandise-body-left{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 40px;
    height:100%;
}
.merchandise .merchandise-body .merchandise-body-left .merchandise-body-left-header h2{
    font-family: "Anton";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    margin-bottom: 16px;
}
.merchandise .merchandise-body .merchandise-body-left .merchandise-body-left-categories ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font: "Inter-regular", sans-serif;
    font-size: 16px;
    color: #9CA3AF;
}
.merchandise .merchandise-body .merchandise-body-left .merchandise-body-left-categories ul li{
    letter-spacing: 0.025em;
    line-height: 20px;
}
.merchandise .merchandise-body .merchandise-body-left .merchandise-body-left-categories ul li:hover{
    color: #000000;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.merchandise .merchandise-body .merchandise-body-right{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    column-gap: 24px;
    row-gap: 32px;
    margin-bottom: 64px;
    width: 80%;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel:hover{
    cursor: pointer;
    transition: 0.3s;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-image{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    perspective: 500px;
    aspect-ratio: 1/1;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-image img{
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-image img:hover{
    cursor: pointer;
    transform: translateZ(50px);
    transition: 0.3s ease-in-out;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-details{
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1 1 0%;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-details h3{
    font-family: "Inter",sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-details h4{
    font-family: "Inter",sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.25rem;
    color: #000000;
    display: flex;
    align-items: baseline;

}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-btn button{
    text-transform: uppercase;
    font-family: "Inter",sans-serif;
    font-size: 9px;
    font-weight: 700;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    padding-inline: 40px;
    padding-block: 10px;
    border-radius: 100px;
    letter-spacing: 0.15em;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-btn button:hover{
    background-color: #daea49;
    color: #000000;
    transition: all 0.3s ease;
    cursor: pointer;
}
.filters{
    padding: 12px 24px;
    overflow-y: auto;
}
.filters .filters-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 24px;
}
.filters .filters-top h2{
    font-family: "Anton";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    margin-bottom: 16px;
}
.filters .filters-catogories h3{
    font-family: "Space-mono-bold";
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-bottom: 16px;
}
.filters .filters-catogories ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: "Inter-regular", sans-serif;
    font-size: 24px;
    color: #9CA3AF;
}

.filters .filters-sort h3{
    font-family: "Space-mono-bold";
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-top: 16px;
    margin-bottom: 16px;
}
.filters .filters-sort ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: "Inter-regular", sans-serif;
    font-size: 24px;
    color: #9CA3AF; 
}
.filters::-webkit-scrollbar {
    width: 4px; 
    height: 0;
}
.filters .filters-btn button{
    background-color: #000000;
    width: 100%;
    font-family: "Space-mono-bold";
    font-size: 14px;
    letter-spacing: 0.025em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 12px 24px;
    margin-top: 16px;
}
@media (max-width:1024px) {
.merchandise .merchandise-body .merchandise-body-right{
    grid-template-columns: repeat(3,minmax(0,1fr));
    column-gap: 16px;
}  
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-image{
    height: 200px;
}
}

@media (min-width:768px) {
.merchandise .merchandise-header .merchandise-header-right{
    display: flex;
}
}

@media (max-width:768px) {
.merchandise{
    padding-inline: 32px;
}
.merchandise .merchandise-header{
    margin-bottom: 24px;
}
.merchandise .merchandise-header .merchandise-header-left h1{
    font-size: 60px;
}
.merchandise .merchandise-body{
    flex-direction: column;
}
.merchandise .merchandise-body .merchandise-body-left{
    display: none;
}
.merchandise .merchandise-body .merchandise-body-right{
    width: 100%;
}
.merchandise .merchandise-body .merchandise-body-right{
    grid-template-columns: repeat(3,minmax(0,1fr));
    column-gap: 16px;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-image{
    height: 210px;
}

}

@media (max-width:640px) {
.merchandise .merchandise-header .merchandise-header-left h1{
    font-size: 36px;
    line-height: 2.5rem;
}
.merchandise .merchandise-body .merchandise-body-right{
    grid-template-columns: repeat(2,minmax(0,1fr));
}

}
@media (max-width:380px) {
.merchandise{
    padding-inline: 16px;
}
.merchandise .merchandise-header .merchandise-header-left h1{
    font-size: 30px;
    line-height: 2.25rem;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-btn button{
    padding-inline: 8px;
    padding-block: 6px;
}
.merchandise .merchandise-body .merchandise-body-right .merchandise-body-right-apparel .merchandise-body-right-apparel-image{
    height: 150px;
}
}